### Membuat Spark Session di PySpark untuk Pemrosesan Data Lokal

In [1]:
from pyspark.sql import SparkSession
Spark = SparkSession.builder.master("local[*]").getOrCreate()

### Mengimpor Data dari CSV ke Spark DataFrame di PySpark

In [2]:
responsi_df = spark.read.csv("Dataset/vehicles.csv")

### Menampilkan DataFrame responsi_df di PySpark

In [3]:
responsi_df.show()

24/12/20 06:49:00 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|       _c0|                 _c1|                 _c2|                 _c3|  _c4| _c5|         _c6|  _c7|      _c8|      _c9|_c10|    _c11|        _c12|        _c13|_c14| _c15|_c16|_c17|       _c18|     _c19|       _c20|  _c21| _c22|_c23|_c24|        _c25|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   az|null|null|        null|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ar|null|null|        null|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   fl|null|null|        null|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ma|null|null|        null|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   nc|null|null|        null|
|7222379453|https://hudsonval...|       hudson valley|https://hudsonval...| 1600|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7221952215|https://hudsonval...|       hudson valley|https://hudsonval...| 1000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7220195662|https://hudsonval...|       hudson valley|https://hudsonval...|15995|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7209064557|https://medford.c...|     medford-ashland|https://medford.c...| 5000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   or|null|null|        null|
|7219485069|https://erie.crai...|                erie|https://erie.crai...| 3000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   pa|null|null|        null|
|7218893038|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   tx|null|null|        null|
|7218325704|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   tx|null|null|        null|
|7217788283|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   tx|null|null|        null|
|7217147606|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   tx|null|null|        null|
|7209027818|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   tx|null|null|        null|
|7223509794|https://bellingha...|          bellingham|https://bellingha...|13995|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   wa|null|null|        null|
|7222753076|https://bellingha...|          bellingham|https://bellingha...|24999|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   wa|null|null|        null|
|7222206015|https://bellingha...|          bellingham|https://bellingha...|21850|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   wa|null|null|        null|
|7220030122|https://bellingha...|          bellingham|https://bellingha...|26850|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   wa|null|null|        null|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 20 rows

### Menampilkan Informasi Skema Kolom DataFrame menggunakan PySpark

In [4]:
responsi_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)

### Menghapus baris yang mengandung null

In [5]:
responsi_df = responsi_df.dropna()

### Membaca file dengan header

In [6]:
responsi_df_with_header = spark.read.csv("Dataset/vehicles.csv", header=True, inferSchema=True)

### Menampilkan data

In [7]:
responsi_df.show()

+----------+--------------------+--------------------+--------------------+-----+----+------------+--------------------+---------+------------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|       _c0|                 _c1|                 _c2|                 _c3|  _c4| _c5|         _c6|                 _c7|      _c8|         _c9|  _c10|    _c11|        _c12|        _c13|             _c14| _c15|     _c16|       _c17|       _c18|                _c19|                _c20|                _c21|                _c22|                _c23|                _c24|                _c25|
+----------+--------------------+--------------------+--------------------+-----+----+------------+--------------------+---------+------------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|               model|condition|   cylinders|  fuel|odometer|title_status|transmission|              VIN|drive|     size|       type|paint_color|           image_url|         description|              county|               state|                 lat|                long|        posting_date|
|7311390113|https://bham.crai...|          birmingham|https://bham.crai...|24990|2007|        ford|super duty f-450 drw|     good|10 cylinders|   gas|   46463|       clean|   automatic|1FDXF46Y47EB23553|  rwd|full-size|      truck|      white|https://images.cr...|"2007 Ford Super ...| blunt cut & labe...| RH vanity mirror...|    dual cup holders| (4) air register...| ashtray & cigar ...|
|7311383338|https://bham.crai...|          birmingham|https://bham.crai...|26990|2008|   chevrolet|              cc4500|     good| 8 cylinders|   gas|  100921|       clean|   automatic|1GBE4C3G38F402998|  4wd|full-size|      truck|      white|https://images.cr...|"2008 Chevrolet C...| anti-freeze prot...| oil pressure gau...| Vortec 8.1L MD g...| 325 hp (239 kw) ...|800 rpm. - Maximu...|
|7311381690|https://bham.crai...|          birmingham|https://bham.crai...|24990|2007|        ford|super duty f-450 drw|     good|10 cylinders|   gas|   46463|       clean|   automatic|1FDXF46Y47EB23553|  rwd|full-size|      truck|      white|https://images.cr...|"2007 Ford Super ...| blunt cut & labe...| RH vanity mirror...|    dual cup holders| (4) air register...| ashtray & cigar ...|
|7307067889|https://bham.crai...|          birmingham|https://bham.crai...|30900|2015|   chevrolet|      silverado 1500|     good| 8 cylinders|   gas|  114800|       clean|   automatic|3GCUKSEC4FG336264|  4wd|full-size|      truck|     custom|https://images.cr...|"2015 Chevrolet S...|900 Year: 2015 Ma...|800 Color: Cream ...| 5.3L EcoTec3 V8 ...| Direct Injection...| 383 lb-ft of tor...|
|7307067844|https://bham.crai...|          birmingham|https://bham.crai...|24900|2015|   chevrolet|      silverado 1500|     good| 8 cylinders|   gas|  119569|       clean|   automatic|3GCPCREC2FG522274|  rwd|full-size|      truck|      white|https://images.cr...|"2015 Chevrolet S...|900 Year: 2015 Ma...|569 Color: White ...| DIRECT INJECTION...| Dual-stage front...| seat-mounted sid...|
|7306896595|https://bham.crai...|          birmingham|https://bham.crai...|29990|2007|        ford|super duty f-750 ...|     good| 8 cylinders|diesel|  124669|       clean|   automatic|3FRXX75U17V517746|  rwd|full-size|      truck|      white|https://images.cr...|"2007 Ford Super ...| inner splash shi...|          trip meter|          volt meter|        oil pressure|        coolant temp|
|7302320525|https://bham.crai...|          birmingham|https://bham.crai...| 3300|1994|         bmw|        318ic cabrio|     fair| 4 cylinders|   gas|  304000|       clean|      manual|WBABK6328RED15065|  rwd| mid-size|convertible|      black|https://images.cr...|"Please read the ...| but top is tight...| however paint lo...| so no water ente...| but the Alpine r...| but the back end...|
|7301843551|https://bham.crai...|          birmingham|https://bham.crai...|40000|2017|        ford|               f-150| like new| 6 cylinders|   gas|   44000|       clean|   automatic|1FTEW1CG4HFB04535|  rwd|full-size|      truck|       blue|https://images.cr...|"2017 ford f150 l...|      running boards| heated and coole...|       4 USB outlets| 2 110v outlets 4...|      tinted windows|
|7315085297|https://shoals.cr...|florence / muscle...|https://shoals.cr...|14900|1999|        jeep|            wrangler|     good| 6 cylinders|   gas|  140212|       clean|      manual|1J4FY19S0XP415571|  4wd|full-size|        SUV|      green|https://images.cr...|"SOLID JEEP, lift...|               winch|               hitch|      LED headlights| new tires and wh...|  with a good smooth|
|7305334481|https://huntsvill...|huntsville / decatur|https://huntsvill...|39950|2020|        jeep|            wrangler| like new| 4 cylinders|   gas|    2600|       clean|   automatic|1C4GJXAN7LW325096|  4wd|  compact|        SUV|       blue|https://images.cr...|"2020 Jeep Wrangl...|  Mopar Remote Start| Mopar Trailer To...|        Decal Delete| Etc....  This Wr...| underneath is sp...|
|7310115422|https://mobile.cr...|              mobile|https://mobile.cr...|23995|2013|        ford|               f-150|     good| 6 cylinders|   gas|  139863|       clean|   automatic|1FTFW1CTXDFA26970|  rwd|full-size|      truck|      green|https://images.cr...|"2013 Ford F-150 ...|995  Year: 2013 M...|863 Stock #:A2697...|           voltmeter|        oil pressure| engine coolant temp|
|7310115394|https://mobile.cr...|              mobile|https://mobile.cr...|36995|2015|   chevrolet|               tahoe|     good| 8 cylinders|   gas|   97917|       clean|   automatic|1GNSCCKC5FR134619|  rwd|full-size|        SUV|      black|https://images.cr...|"2015 Chevrolet T...| programmableWarn...|     key-in-ignition| driver and right...|               power|    all express down|
|7310115335|https://mobile.cr...|              mobile|https://mobile.cr...|35995|2017|   chevrolet|      silverado 1500|     good| 8 cylinders|   gas|   69815|       clean|   automatic|3GCPCREC3HG357306|  rwd|full-size|      truck|      white|https://images.cr...|"2017 Chevrolet S...|995  Year: 2017 M...|815 Stock #:35730...| DIRECT INJECTION...|        frontAirbags| dual-stage front...|
|7308314267|https://mobile.cr...|              mobile|https://mobile.cr...|25677|2017|      toyota|              tacoma| like new| 6 cylinders|   gas|  110112|       clean|   automatic|5TFAZ5CN6HX032128|  rwd| mid-size|      truck|      brown|https://images.cr...|"This vehicle is ...| depending on spe...| overall conditio...| and your persona...| vehicle tag/titl...| or processing fe...|
|7307695692|https://mobile.cr...|              mobile|https://mobile.cr...|29995|2016|         ram|                1500|     good| 8 cylinders|   gas|  135005|       clean|   automatic|1C6RR7YT1GS413040|  4wd|full-size|      truck|       grey|https://images.cr...|"2016 RAM 1500 4W...|995  Year: 2016 M...|005 Stock #:41304...|  Front Vented Discs| Brake Assist and...| Driver And Passe...|
|7307694952|https://mobile.cr...|              mobile|https://mobile.cr...|19995|2011|        ford|               f-150|     good| 8 cylinders|   gas|  103554|       clean|   automatic|1FTFW1EF2BFC73159|  4wd|full-size|      truck|       grey|https://images.cr...|"2011 Ford F-150 ...|995  Year: 2011 M...|554 Stock #:C7315...|           voltmeter|        oil pressure| engine coolant temp|
|7307067972|https://mobile.cr...|              mobile|https://mobile.cr...|30900|2015|   chevrolet|      silverado 1500|     good| 8 cylinders|   gas|  114800|       clean|   automatic|3GCUKSEC4FG336264|  4wd|full-size|      truck|     custom|https://images.cr...|"2015 Chevrolet S...|900 Year: 2015 Ma...|800 Color: Cream ...| 5.3L EcoTec3 V8 ...| Direct Injection...| 383 lb-ft of tor...|
|7307067838|https://mobile.cr...|              mobile|https://mobile.cr...|24900|2015|   chevrolet|      silverado 1500|     good| 8 cylinders|   gas|  119569|       clean|   automatic|3GCPCREC2FG522274|  rwd|full-size|      truck|      white|https://images.cr...|"2015 Chevrolet S...|900 Year: 2015 Ma...|569 Color: White ...| DIRECT INJECTION...| Dual-stage front...| seat-mounted sid...|
|7305854218|https://mobile.cr...|              mobile|https://mobile.cr...|27995|2013|        ford|               f-150|     good| 6 cylinders|   gas|  104253|       clean|   automatic|1FTFW1ETXDKF30763|  4wd|full-size|      truck|      white|https://images.cr...|"2013 Ford F-150 ...|995  Year: 2013 M...|253 Stock #:F3076...|           voltmeter|        oil pressure| engine coolant temp|
+----------+--------------------+--------------------+--------------------+-----+----+------------+--------------------+---------+------------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Menganti nama kolom

In [8]:
responsi_df = responsi_df.toDF("id","url","region","region_url","price","year","manufactur","model","condition","cylinders", "fuel", "odometer", "title_status", "transmission", "vin", "drive", "size", "type","paint_color","image_url","description","country","state","lat","long","posting_date")

### Menampilkan data yang sudah diganti kolomnya

In [9]:
responsi_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- url: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufactur: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- size: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- posting_date: string (nullable = true)

### Seleksi data yang akan ditampilkan

In [10]:
responsi_df.select("manufactur","price").show(10)

+------------+-----+
|  manufactur|price|
+------------+-----+
|manufacturer|price|
|        ford|24990|
|   chevrolet|26990|
|        ford|24990|
|   chevrolet|30900|
|   chevrolet|24900|
|        ford|29990|
|         bmw| 3300|
|        ford|40000|
|        jeep|14900|
+------------+-----+
only showing top 10 rows

### Menghitung Nilai rata-rata

In [28]:
responsi_df.groupBy("manufactur").agg({
'price':'avg'

} ).show(20)

+-------------+------------------+
|   manufactur|        avg(price)|
+-------------+------------------+
|   mitsubishi|6238.0526315789475|
|        lexus| 15069.47619047619|
|       toyota|11984.212389380531|
|     chrysler|        12680.4375|
|      lincoln|18009.105263157893|
|         audi|15019.603773584906|
|          bmw|16842.383561643837|
|         jeep|17307.123456790123|
|        dodge|14780.338028169013|
|        rover|18655.454545454544|
|      hyundai|           11226.7|
|         ford|26493.635174418603|
|          ram|25666.152985074626|
|          kia|           9746.68|
|mercedes-benz|20584.739130434784|
|      porsche|50913.142857142855|
|    chevrolet|22971.118556701033|
|        honda|10169.084210526316|
|   volkswagen| 10244.69642857143|
|        acura|          12309.25|
+-------------+------------------+
only showing top 20 rows

### Menampilkan data pada kolom kondisi

In [12]:
responsi_df.select("condition").show(10)

+---------+
|condition|
+---------+
|condition|
|     good|
|     good|
|     good|
|     good|
|     good|
|     good|
|     fair|
| like new|
|     good|
+---------+
only showing top 10 rows

### Menampilkan model yang memiliki kondisi bagus sekali (Excellent)

In [13]:
excellent_models = responsi_df.filter(responsi_df["condition"] == "excellent").select("condition","model","price")

In [14]:
excellent_models.show(10)

+---------+--------------+------+
|condition|         model| price|
+---------+--------------+------+
|excellent|         m805i|104900|
|excellent|tucson limited| 23995|
|excellent|            x1| 27995|
|excellent| rx350 f sport| 23995|
|excellent|       aviator| 62995|
|excellent|            x1| 27995|
|excellent|       aviator| 62995|
|excellent| rx350 f sport| 23995|
|excellent|           mkt| 23500|
|excellent|         f-150| 26995|
+---------+--------------+------+
only showing top 10 rows

### Melakukan filter untuk menampilkan kondisi "like new" beserta harga

In [15]:
# Filter model dengan condition 'like new'
like_new_models = responsi_df.filter(responsi_df["condition"] == "like new").select("condition","model","price")

# Menampilkan hasil
like_new_models.show(10)

+---------+----------------+-----+
|condition|           model|price|
+---------+----------------+-----+
| like new|           f-150|40000|
| like new|        wrangler|39950|
| like new|          tacoma|25677|
| like new|charger sxt plus|24999|
| like new|          acadia|32129|
| like new|   grand caravan|18758|
| like new|         equinox|21598|
| like new|     terrain slt|23999|
| like new|         equinox|21597|
| like new|            1500|31886|
+---------+----------------+-----+
only showing top 10 rows

### Menampilkan model , kondisi dan harga

In [16]:
toyota_countries = responsi_df.filter(responsi_df["manufactur"] == "toyota").select("manufactur","condition","price")

# Menampilkan hasil
toyota_countries.show(10)

+----------+---------+-----+
|manufactur|condition|price|
+----------+---------+-----+
|    toyota| like new|25677|
|    toyota| like new|34996|
|    toyota| like new|22367|
|    toyota|     good| 8500|
|    toyota|excellent|    0|
|    toyota|excellent|19995|
|    toyota| like new|29469|
|    toyota|      new|    0|
|    toyota|excellent|26900|
|    toyota| like new| 2495|
+----------+---------+-----+
only showing top 10 rows

In [17]:
responsi_df.count()

3640

In [33]:
from pyspark.sql.functions import col

responsi_df.filter(col("condition") == "excellent") \
    .select("condition", "manufactur", "price") \
    .orderBy(col("price").asc()) \
    .show(20)

+---------+----------+-----+
|condition|manufactur|price|
+---------+----------+-----+
|excellent|      ford|    0|
|excellent| chevrolet|    0|
|excellent| chevrolet|    0|
|excellent| chevrolet|    0|
|excellent|      audi|    0|
|excellent| chevrolet|    0|
|excellent|      audi|    0|
|excellent| chevrolet|    0|
|excellent|       gmc|    0|
|excellent|    subaru|    0|
|excellent|    subaru|    0|
|excellent|      ford|    0|
|excellent|      ford|    0|
|excellent|      ford|    0|
|excellent|      ford|    0|
|excellent|       ram|    0|
|excellent| chevrolet|    0|
|excellent|mitsubishi|    0|
|excellent|mitsubishi|    0|
|excellent|    toyota|    0|
+---------+----------+-----+
only showing top 20 rows

In [34]:
responsi_df.filter(col("price") == 0).count()

251

### Menampilkan Deskripsi dari kolom harga

In [35]:
responsi_df.describe("price").show()

+-------+------------------+
|summary|             price|
+-------+------------------+
|  count|              3640|
|   mean|20653.087402049427|
| stddev|15880.484534919224|
|    min|                  |
|    max|             price|
+-------+------------------+

##### Cara Memeriksa dan mengatasi data kosong dalam kolom price

In [37]:
responsi_df.filter(col("price").isNull()).show(30)

+---+---+------+----------+-----+----+----------+-----+---------+---------+----+--------+------------+------------+---+-----+----+----+-----------+---------+-----------+-------+-----+---+----+------------+
| id|url|region|region_url|price|year|manufactur|model|condition|cylinders|fuel|odometer|title_status|transmission|vin|drive|size|type|paint_color|image_url|description|country|state|lat|long|posting_date|
+---+---+------+----------+-----+----+----------+-----+---------+---------+----+--------+------------+------------+---+-----+----+----+-----------+---------+-----------+-------+-----+---+----+------------+
+---+---+------+----------+-----+----+----------+-----+---------+---------+----+--------+------------+------------+---+-----+----+----+-----------+---------+-----------+-------+-----+---+----+------------+

##### Periksa jumlah data dengan filter untuk melihat jumlah dari kondisi mobil tbekas

In [38]:
responsi_df.groupBy("condition").count().show()

+---------+-----+
|condition|count|
+---------+-----+
|      new|   16|
|excellent| 2048|
| like new|  367|
|     good|  797|
|     fair|   17|
|condition|    1|
|     2006|  102|
|   35 mpg|  148|
|    E350 |   71|
|    f250 |   71|
|  salvage|    2|
+---------+-----+

In [46]:
responsi_df.select("condition","manufactur","price").distinct().show()

+---------+----------+-----+
|condition|manufactur|price|
+---------+----------+-----+
|      new|    toyota|    0|
|excellent|      ford|16995|
|excellent|      ford|26995|
|excellent|       ram|    0|
|excellent|     honda|14995|
|excellent| chevrolet|10995|
| like new|    nissan|22794|
| like new|     dodge|18760|
|     good|      jeep|14900|
| like new|    nissan| 7474|
| like new|      ford|27999|
| like new|       ram|39495|
|excellent|    toyota|    0|
|excellent|       bmw| 2495|
|excellent| chevrolet|13900|
| like new|     dodge|18758|
|excellent|      ford|23500|
|excellent|      ford|24950|
|excellent|      ford| 7500|
|excellent|     honda| 3150|
+---------+----------+-----+
only showing top 20 rows

In [47]:
responsi_df.filter(col("price") > 0) \
    .select("condition", "manufactur", "price") \
    .distinct() \
    .show()

+---------+----------+-----+
|condition|manufactur|price|
+---------+----------+-----+
|excellent|      ford|16995|
|excellent|      ford|26995|
|excellent|     honda|14995|
|excellent| chevrolet|10995|
| like new|    nissan|22794|
| like new|     dodge|18760|
|     good|      jeep|14900|
| like new|    nissan| 7474|
| like new|      ford|27999|
| like new|       ram|39495|
|excellent|       bmw| 2495|
|excellent| chevrolet|13900|
| like new|     dodge|18758|
|excellent|      ford|23500|
|excellent|      ford|24950|
|excellent|      ford| 7500|
|excellent|     honda| 3150|
| like new|       gmc|32129|
| like new|     honda|43430|
| like new|       kia| 9995|
+---------+----------+-----+
only showing top 20 rows

In [48]:
from pyspark.sql.functions import col

responsi_df.filter((col("price") > 0)) \
    .select("condition", "manufactur", "price") \
    .distinct() \
    .orderBy(col("price").asc()) \
    .show()

+---------+------------------+------+
|condition|        manufactur| price|
+---------+------------------+------+
|    f250 | Nissan Silverado |  3500|
|excellent|         chevrolet|     1|
|excellent|              ford|     1|
|excellent|               ram|     1|
|     good|              audi|  1000|
|excellent|             rover| 10000|
|excellent|        land rover| 10000|
|     good|         chevrolet| 10000|
|excellent|               bmw| 10250|
|     good|         chevrolet| 10290|
|excellent|               kia| 10400|
|excellent|               bmw|104900|
|     good|            toyota| 10495|
|     good|             dodge| 10497|
|excellent|              ford| 10499|
|excellent|              mini| 10500|
|excellent|               ram| 10500|
|excellent|             honda| 10500|
|excellent|             lexus| 10500|
|excellent|          cadillac| 10500|
+---------+------------------+------+
only showing top 20 rows

### Memfilter data untuk menampilkan data harga = 10500 dan menampilkan manufactur excelent (Luar Biasa)

In [52]:
from pyspark.sql.functions import col

responsi_df.filter((col("condition") == "excellent") & (col("price") == 10500)) \
    .select("condition", "manufactur", "price") \
    .orderBy(col("price").asc()) \
    .show(20)

+---------+----------+-----+
|condition|manufactur|price|
+---------+----------+-----+
|excellent|     honda|10500|
|excellent|      mini|10500|
|excellent|       ram|10500|
|excellent|  cadillac|10500|
|excellent|     lexus|10500|
|excellent| chevrolet|10500|
+---------+----------+-----+